node_modules
build
dist
tmp
*.log
.vagrant
.settings
.terraform
settings.json
settings.js
settings.ts
.vscode/*

!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

src/**/*.js
test/**/*.js